@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
*{
    background-color: #506780;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
}
header {
    margin: 2.5em;
    text-align: center;
}
canvas {
    padding: 0;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
#total {
    margin: 1em;
    text-align: center;
}
#gameOver {
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}